@import 'mixins.styl'
@import 'vars.styl'

red = #FF3636
green = #63DA38

svg.filter 
  width 0
  height 0
  opacity 0
  position absolute

.widgets
  width 100%
  min-height 100vh
  background rgba(black,.2)
  min-height 100vh
  display flex
  flex-direction column
  .header
    color white
    background-color darkorange 
    padding 40px 0 35px
    text-align center
    @media screen and (min-width 550px)
      display none

.temperature-wrapper
  background-color rgba(#FFB235,1)
  color white
  padding 20px 0
  .weather-icon
    fill none 
    stroke white
    width 50px
    height 50px
    @media screen and (min-width 550px)
      width 120px
      height 120px
  .temperature-now
    padding 0 15px
    flexCenter(row,space-between)
    .text
      font-size 17px
      @media screen and (min-width 550px)
        font-size 20px
      h6.city
        font-size 16px
        opacity .5
        @media screen and (min-width 550px)
          font-size 18px
  .degree-now
    position relative
    padding-right 5px
    align-self flex-end
    h1 
      font-size 120px
      line-height 100px
      @media screen and (min-width 550px)
        font-size 135px
    span
      font-weight bold
      font-size 30px
      top -40px
      right -5px
      position absolute
      @media screen and (min-width 550px)
        top -53px

.stocks-widgets-mobile
  display flex
  flex-grow 1
  background white
  @media screen and (min-width 550px)
    display none
  .stock
    border-right 1px solid rgba(black , .3)
    flex-basis 50%
    padding 20px 0
    .stock-header
      flexCenter(row,space-between)
      padding 0 10px
      font-size 20px
    .bubles-options
      width 20px
      height 20px
      position relative
      flexCenter(column,space-between)
      cursor pointer
      opacity .5
      &:hover
        opacity .8
      span
        width 5px
        height 5px
        border 2px solid rgba(black , 1)
        border-radius 50px
        position relative
    .proffit
      padding 15px 10px 0
      font-size 19px
      h1 
        font-size 45px
        margin-bottom 10px
      &.up
        color green
      &.down
        color red
    .total-sales
      padding 0 10px 
      opacity .5
      font-size 14px
    .details-button
      flexCenter()
      h3
        color orange 
        border 1px solid rgba(black,.2)
        cursor pointer
        border-radius 50px
        font-size 15px
        padding 8px 25px
        &:hover
          color white
          border 1px solid orange 
          background-color orange
          transform translateY(-2px)

.svg-fake
  height 100px

svg.weather-chart
  fill none 
  g
   stroke rgb(255, 178, 54)
  g.main
    filter url(#drop-shadow)

.big-article
  display none
  @media screen and (min-width 550px)
    display flex
    color white
    padding 0 20px
    display flex
    height 65vw
    position relative
    max-height 400px
    background url("images/img1.png")
    background-size cover
    .article-bg
      fullAbsolute()
      background linear-gradient(#ff000000 63%,rgba(0, 0, 0, 0.5215686274509804))
    .article-infos
      padding 20px 0
      display flex
      flex-direction column
      justify-content flex-end
      z-index 10
      width 100%
    h2.article-title
      margin-bottom 20px
      line-height 30px
      font-size 30px
      max-width 550px
    ul.publish-infos
      display flex
      font-size 13px
      opacity .5
      li 
        display flex
        align-items center
        margin-right 20px
      li.category
        flex-grow 1
        justify-content flex-end
        a
          display block
          position relative
          &:after
            content ''
            position absolute
            bottom -10px
            left 0
            background white
            height 2px
            width 100%
      svg 
        width 25px
        height 25px
        fill none 
        stroke white
        margin-right 5px

.scores
  display none
  @media screen and (min-width 550px)
    display block
    background rgb(242, 242, 242)
    padding 50px 20px 0
    .top
      display flex
      justify-content space-between
    svg.scores-arrows
      fill none 
      stroke black
      opacity .3
      cursor pointer
      width 40px
      height 40px
      &:hover
        opacity 1
        transform translateY(-2px)
    h3.scores-day
      font-size 30px
    .bottom.date
      text-align center
      font-size 13px
      opacity .5
    .sport-type
      display flex
      align-items center
      padding 25px 0
      .sport-type-line
        height 1px
        opacity .1
        background black
        flex-grow 1
      h4
        font-size 20px
        padding 0 20px
    li.match 
      display flex
      align-items center
      padding 25px 0
      border-bottom 1px solid rgba(black,.1)
      cursor pointer
    .team
      display flex
      align-items center
      flex-basis 40%
      img
        width 50px
        height 50px
        object-fit contain
    .score
      flex-grow 1
      text-align center
    .team.team2 
      justify-content flex-end
      text-align right 
      img
        order 1
        margin-left 20px
    .team.team1 img
      margin-right 20px
    .team-name p:nth-child(1)
      opacity .5
    h5
      font-size 20px
      span 
        opacity .3
        margin 0 20px

.subscribe
  display none
  @media screen and (min-width 550px)
    display flex
    box-shadow inset 0 0 40px rgba(0, 0, 0, 0.2)
    flex-direction column
    align-items center
    background-color orange
    padding 200px 0 150px
    position relative
    p
      color rgba(white , .5)
      font-size 15px
    form 
      width 300px
      .subscribe-email-wrapper
        width 100%
        position relative
        margin 40px 0 15px
        input 
          width 100%
          height 50px
          padding 0 20px 0 60px
          border none 
          border-radius 50px
          font-size 15px
          color rgba(white,.9)
          background rgba(white , .1)
          box-sizing border-box
          font-weight 100
        ::placeholder
          color rgba(white,.9)
          font-size 15px
      input[type="submit"]
        color orange 
        height 50px
        width 100%
        box-shadow 2px 2px 10px rgba(0, 0, 0, 0.25)
        font-size 13px
        border-radius 50px
        cursor pointer
        transition .1s linear all
        &:hover
          box-shadow none
          transform translateY(2px)
      label
        flexCenter()
        width 50px
        height 50px
        position absolute
        top 0
        left 5px
        cursor pointer
        svg 
          fill none 
          stroke rgba(white,.8)
          width 25px
          height 25px
    .plane-big-icon
      width 350px
      height 350px
      background-color rgba(white,.1)
      border-radius 50%
      flexCenter()
      position absolute
      top -85px
      right -85px
      svg 
        fill none 
        stroke orange

ul.temeperatures-holder
  flexCenter(row,space-between)
  padding 0 15px
  transform translateY(-20px)
  text-align center
  h2 
    position relative
    display block
    font-size 30px
    span
      position absolute
      top -5px
      right -10px
      font-size 15px
  p
    opacity .5
    font-size 11px
    
.weather-controller
  display none
  z-index 10
  @media screen and (min-width 550px)
    display flex
    position absolute
    top 90px
    right 10px
    font-weight 800
    font-size 13px
    li 
      opacity .5
      cursor pointer
      margin 0 5px
      &:hover
        opacity 1
      &.active
        position relative
        opacity 1
        &:after
          position absolute
          content ''
          width 100%
          height 2px
          bottom -5px
          left 0
          background-color white

.stocks-widgets-big
  display none
  @media screen and (min-width 550px)
    display flex
    flex-direction column
    ul.stocks-header
      display flex
      justify-content space-around
      background-color white
      box-shadow 2px 8px 80px rgba(0, 0, 0, 0.1)
      position relative
      li 
        padding 30px 0
        flex-basis 25%
        text-align center
        &.active
          background-color rgba(0, 0, 0, 0.05)
      &:not(:last-child) .inner-content
        border-right 1px solid rgba(0, 0, 0, 0.05)
      .inner-content 
        .up 
          color green
        .down
          color red
        h2 
          font-size 20px
        h4
          opacity .4
          font-size 15px
          margin 5px 0 10px
        h3
          font-size 25px
    .graph-pannel
      padding 30px 15px 250px
      background white
      .panel-header
        display flex