@import 'stylus/*'

inputHeight = 55px
inputMargin = 7px

body
  background-color orange

.wrapper
  color #fff
  width 100%
  background orangeBlackGrad
  position relative
  overflow hidden
  min-height 100vh
  transition navigationTransition linear transform
  .black-overlay
    display none
  @media screen and (min-width 550px)
    .black-overlay 
      fullAbsolute()
      background rgba(0 , 0 , 0 , .3)
      z-index 100
      display none
    &.translated
      transform translateX(270px)
      .black-overlay
        display block
  @media screen and (min-width 500px)
    box-sizing border-box
    padding 80px 0 45px
  .height-fix
    flexCenter(column , space-between)
    height 100vh
    padding 20px 0
    box-sizing border-box
    max-height 650px
    width 100%
    @media screen and (min-width 500px)
      min-height 600px
  .background
    width 120%
    position absolute
    top -10%
    left -10%
    height 120%
    background-image url(images/bg.png)
    background-size cover
    background-position 50% 50%
    filter blur(10px)
    opacity .2
  

.title
  flexCenter()
  margin-bottom 50px
  @media screen and (min-width 500px)
    font-size 25px


.form-step
  flex-grow 1
  flex-direction column
  width 100%
  display flex
  align-items center
  justify-content center
  opacity 0
  transition .2s linear opacity
  &.shown
    display flex 
    opacity 1
  
form
  position relative
  z-index 3
  width 90%
  margin 0 auto
  max-width 350px
  min-width 250px
  flexCenter(column)
  margin-bottom 35px
  &.waiting
    .loading
      flexCenter()
    input[type="submit"]
      width inputHeight
  input 
    color #fff
  .submit-wrapper
    width 100%
    height inputHeight
    position relative
    margin-top 40px
    overflow hidden
    flexCenter()
  input[type="submit"]
    transition .2s linear all
    width 100%
    height 100%
    background rgba(#fff , 0)
    border-radius 50px
    border 2px solid rgba(#fff , .2)
    cursor pointer
    &:hover
      background rgba(#fff , .1)
  .input-wrapper
    width 100%
    height inputHeight
    margin inputMargin 0
    position relative
    label
      width 50px
      height 100%
      background-color transparent 
      display block
      cursor pointer
      position absolute
    svg.icon
      stroke rgba(#fff , .5)
      fill none
      top 0
      left 15px
      width 30px
      height 100%
      position absolute
    input 
      padding 0 20px 0 60px
      box-sizing border-box
      width 100%
      height 100%
      background rgba(#fff , .1)
      border-radius 50px
    ::placeholder
      color #fff

.states
  position absolute
  flexCenter(column)
  top 0
  transform translateY(-55px)
  transition .2s cubic-bezier(0, 0, 0.18, 1.33) all
  &.complete
    transform translateY(0px)
  .done
    background-color #2ecc71
    fill white
    border-radius 50%
    flexCenter()
    width inputHeight
    height inputHeight
    opacity .8
    svg 
      width 30px
      height 30px

.loading
  opacity 0
  animation fadeIn .2s .3s linear forwards
  display none
  width inputHeight
  height inputHeight
  img 
    width 50%
    opacity .5

.form-step-two,
.form-step-three
  display none
  opacity 0
  animation fadeIn .3s .4s linear 
  .submit-wrapper
    margin-top 10px



.conditions a
  color rgba(255,255,255,.5)
  z-index 2
  position relative
  font-size 13px
  &:hover
    color #fff

.sign-up-tooltip
  position absolute
  top 120%
  width 90%
  left 5%
  background orange 
  padding 20px 10px 
  box-sizing border-box
  text-align center 
  z-index 20
  font-size 13px
  opacity 0
  animation fadeIn linear .2s forwards
  transition .2s linear all
  display none
  &.show
    display block
  .tooltip-arrow
    width 0
    height 0
    position absolute
    top -10px
    left calc(50% - 5px)
    border-left 10px solid rgba(white , 0)
    border-right 10px solid rgba(white , 0)
    border-bottom 10px solid orange


@keyframes fadeIn 
  to
    opacity 1