@import 'stylus/*'

inputHeight = 60px
inputMargin = 5px

.wrapper
  color #fff
  width 100%
  height 100vh
  background linear-gradient(#FF6A3A,#000000)
  position relative
  overflow hidden
  display flex
  align-items center
  flex-direction column
  padding 20px 0
  box-sizing border-box
  min-height 600px
  @media screen and (min-width 500px)
    min-height 800px
    padding 80px 0 45px
  .background
    width 120%
    position absolute
    top -10%
    left -10%
    height 120%
    background-image url(images/bg.png)
    background-size cover
    background-position 50% 50%
    filter blur(10px)
    opacity .2

.title
  flexCenter()
  flex-grow 2
  @media screen and (min-width 500px)
    font-size 25px

form
  position relative
  z-index 3
  width 90%
  margin 0 auto
  max-width 350px
  min-width 300px
  flexCenter(column)
  margin-bottom 35px
  input 
    color #fff
  input[type="submit"]
    width 100%
    height inputHeight
    background rgba(#fff , 0)
    border-radius 50px
    border 2px solid rgba(#fff , .2)
    cursor pointer
    margin-top 40px
    &:hover
      background rgba(#fff , .1)
  .input-wrapper
    width 100%
    height inputHeight
    margin inputMargin 0
    position relative
    svg.icon
      stroke rgba(#fff , .5)
      fill none
      top 0
      left 15px
      width 30px
      height 100%
      position absolute
    input 
      padding 0 20px 0 60px
      box-sizing border-box
      width 100%
      height 100%
      background rgba(#fff , .1)
      border-radius 50px
    ::placeholder
      color #fff

.conditions a
  color rgba(255,255,255,.5)
  z-index 2
  position relative
  font-size 13px
  &:hover
    color #fff