.indicator {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 450px;
}
@media screen and (min-width: 550px) {
  .indicator {
    min-width: 450px;
  }
}
@media screen and (min-width: 900px) {
  .indicator {
    min-width: 700px;
  }
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
ul li.buble {
  margin: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
ul li.buble.active {
  border: 1px solid rgba(255,255,255,0.3);
}
ul li.buble .inner-buble {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}
ul li.line {
  height: 2px;
  background-color: rgba(255,255,255,0.3);
  flex-grow: 1;
}
li.buble.active > h4.buble-txt {
  color: #fff;
}
h4.buble-txt {
  display: none;
}
@media screen and (min-width: 500px) {
  h4.buble-txt {
    color: rgba(255,255,255,0.3);
    display: block;
    font-size: 8px;
    position: absolute;
    top: 142%;
    width: 150%;
    text-align: center;
  }
}
.nav-bar-wrapper {
  display: none;
  padding: 25px 20px 10px;
  box-sizing: border-box;
}
@media screen and (min-width: 500px) {
  .nav-bar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    background-color: #f96332;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
  }
  .nav-bar-wrapper .close {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }
  .nav-bar-wrapper .close span.close-line {
    width: 30px;
    height: 2px;
    top: 14px;
    background: #fff;
    position: absolute;
  }
  .nav-bar-wrapper .close span.close-line:nth-child(2) {
    transform: rotate(45deg);
  }
  .nav-bar-wrapper .close span.close-line:nth-child(1) {
    transform: rotate(-45deg);
  }
  .nav-bar-wrapper svg {
    fill: #fff;
    width: 25px;
    height: 25px;
  }
  .nav-bar-wrapper .burger {
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 30px;
  }
  .nav-bar-wrapper .burger span:nth-child(1) {
    top: 5px;
  }
  .nav-bar-wrapper .burger span:nth-child(2) {
    top: 14px;
  }
  .nav-bar-wrapper .burger span:nth-child(3) {
    top: 23px;
  }
  .nav-bar-wrapper .burger .burger-line,
  .nav-bar-wrapper .burger .burger-line-small {
    position: absolute;
    width: 25px;
    height: 2px;
    background: #fff;
  }
  .nav-bar-wrapper .burger .burger-line-small {
    width: 15px;
  }
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
}
input {
  border: none;
  outline: none;
}
.wrapper {
  color: #fff;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#ff6a3a, #000);
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 500px) {
  .wrapper {
    height: 100vh;
    box-sizing: border-box;
    padding: 80px 0 45px;
  }
}
.wrapper .height-fix {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: 20px 0;
  box-sizing: border-box;
  max-height: 650px;
  width: 100%;
}
@media screen and (min-width: 500px) {
  .wrapper .height-fix {
    min-height: 600px;
  }
}
.wrapper .background {
  width: 120%;
  position: absolute;
  top: -10%;
  left: -10%;
  height: 120%;
  background-image: url("images/bg.png");
  background-size: cover;
  background-position: 50% 50%;
  filter: blur(10px);
  opacity: 0.2;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-grow: 2;
}
@media screen and (min-width: 500px) {
  .title {
    font-size: 25px;
  }
}
form {
  position: relative;
  z-index: 3;
  width: 90%;
  margin: 0 auto;
  max-width: 350px;
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 35px;
}
form input {
  color: #fff;
}
form input[type="submit"] {
  width: 100%;
  height: 55px;
  background: rgba(255,255,255,0);
  border-radius: 50px;
  border: 2px solid rgba(255,255,255,0.2);
  cursor: pointer;
  margin-top: 40px;
}
form input[type="submit"]:hover {
  background: rgba(255,255,255,0.1);
}
form .input-wrapper {
  width: 100%;
  height: 55px;
  margin: 7px 0;
  position: relative;
}
form .input-wrapper svg.icon {
  stroke: rgba(255,255,255,0.5);
  fill: none;
  top: 0;
  left: 15px;
  width: 30px;
  height: 100%;
  position: absolute;
}
form .input-wrapper input {
  padding: 0 20px 0 60px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.1);
  border-radius: 50px;
}
form .input-wrapper ::placeholder {
  color: #fff;
}
.conditions a {
  color: rgba(255,255,255,0.5);
  z-index: 2;
  position: relative;
  font-size: 13px;
}
.conditions a:hover {
  color: #fff;
}
