@import 'vars.styl'
@import 'mixins.styl'

.navigation-bg
  width 120%
  position absolute
  top -10%
  left -10%
  height 120%
  background-image url(images/bg.png)
  background-size cover
  background-position left
  filter blur(10px)
  opacity .2


.navigation-wrapper
  position fixed
  top 0
  left -270px
  overflow hidden
  background orangeBlackGrad
  height 100vh
  width 270px
  display none
  flex-direction column
  z-index 100
  transition navigationTransition linear left
  @media screen and (min-width 10px)
     display flex
  &.translated
    left 0
  svg.navigation-icon
    width 25px
    height 25px
  .navigation
    flex-grow 1
    padding-top 20px
  .navigation,
  .navigation-profile
    z-index 3
    position relative
  svg.navigation-icon
    fill none 
    stroke rgba(#fff , .7)
    flex-basis 80px
  li.navigation-link
    margin 15px 0
    h2
      flex-grow 2
    a
      color #fff
      font-size 10px
      flexCenter()
      &:hover > svg 
        stroke #fff
  .navigation-profile
    flexCenter(row,space-around)
    padding-bottom 20px
    &:after
      afterLine()
    a
      color #ffffff
      font-weight bold
      font-size 15px
      margin-bottom 5px
      display inline-block
    p
      color rgba(#fff , .5)
      font-size 13px
    .navigation-profile-avatar
      width 40px
      height 40px
      border-radius 50%
      img 
        width 100%
        height 100%
        object-fit cover
        border-radius 50%
  li.big-screen
    display none
    @media screen and (min-width 750px)
      display block
      &.line-over
        position relative
        margin-top 50px
        &:after
          afterLine()
    
.navigation-wrapper,
.burger-wrapper,
.logo,
.nav-bar-right
  display none

.nav-bar-right
  @media screen and (min-width 700px)
      flexCenter()
      li
        flexCenter()
        margin-left 15px
        @media screen and (min-width 950px)
          margin-left 25px
        a
          flexCenter()


ul.nav-bar-right li.nav-bookmark
  display none
  @media screen and (min-width 950px)
    display flex

@media screen and (min-width 700px)
  .logo
    display inline-block
    position absolute
    width 30px
    height 30px
    left calc(50% - 15px)

@media screen and (min-width 950px)
  .burger-wrapper,
  .navigation-wrapper
    display flex

ul.story-nav-controlls
  width 100%
  flexCenter(row , space-between)
  @media screen and (min-width 700px)
    width 180px
    .aa
      display none
  a
    flexCenter()
    width 35px
    height 35px
    svg 
      width 30px
      height 30px
  @media screen and (min-width 950px)
    display none

.nav-bar-wrapper 
  padding 20px 10px 15px !important
  @media screen and (min-width 950px)
    padding 22px 20px 12px !important
