@import 'stylus/*'

.app-wrapper
  max-width 100vw
  overflow hidden

.wrapper
  transition navigationTransition linear transform
  @media screen and (min-width 950px)
    &.settings-on
      transform translateX(-44vw)
      .black-overlay
        display block
  .black-overlay 
      fullAbsolute()
      background rgba(0 , 0 , 0 , .3)
      z-index 100
      display none
    &.translated
      transform translateX(270px)
      .black-overlay
        display block