.nav-bar-wrapper {
  display: none;
  padding: 25px 20px 10px;
  box-sizing: border-box;
  z-index: 10;
}
@media screen and (min-width: 10px) {
  .nav-bar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    background-color: #f96332;
    position: fixed;
    top: 0;
    left: 0;
  }
  .nav-bar-wrapper .close {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }
  .nav-bar-wrapper .close span.close-line {
    width: 30px;
    height: 2px;
    top: 14px;
    background: #fff;
    position: absolute;
  }
  .nav-bar-wrapper .close span.close-line:nth-child(2) {
    transform: rotate(45deg);
  }
  .nav-bar-wrapper .close span.close-line:nth-child(1) {
    transform: rotate(-45deg);
  }
  .nav-bar-wrapper svg {
    fill: #fff;
    width: 25px;
    height: 25px;
  }
  .nav-bar-wrapper .burger {
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 30px;
  }
  .nav-bar-wrapper .burger span:nth-child(1) {
    top: 5px;
  }
  .nav-bar-wrapper .burger span:nth-child(2) {
    top: 14px;
  }
  .nav-bar-wrapper .burger span:nth-child(3) {
    top: 23px;
  }
  .nav-bar-wrapper .burger .burger-line,
  .nav-bar-wrapper .burger .burger-line-small {
    position: absolute;
    width: 25px;
    height: 2px;
    background: #fff;
  }
  .nav-bar-wrapper .burger .burger-line-small {
    width: 15px;
  }
}
.nav-avatar {
  display: none;
}
.nav-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
@media screen and (min-width: 550px) {
  .nav-avatar {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
  }
}
.search {
  transform: translateY(1px);
  stroke: #fff;
}
div.logo {
  position: absolute;
  top: 28px;
  left: calc(50% - 12.5px);
}
@media screen and (min-width: 550px) {
  .nav-bar-right {
    display: flex;
  }
  .nav-bar-right div {
    margin-left: 20px;
    display: flex;
    align-self: center;
  }
}
.navigation-bg {
  width: 120%;
  position: absolute;
  top: -10%;
  left: -10%;
  height: 120%;
  background-image: url("images/bg.png");
  background-size: cover;
  background-position: left;
  filter: blur(10px);
  opacity: 0.2;
}
.navigation-wrapper {
  position: fixed;
  top: 0;
  left: -270px;
  overflow: hidden;
  background: linear-gradient(#ff6a3a, #000);
  height: 100vh;
  width: 270px;
  display: none;
  flex-direction: column;
  z-index: 100;
  transition: 0.5s linear left;
}
@media screen and (min-width: 10px) {
  .navigation-wrapper {
    display: flex;
  }
}
.navigation-wrapper.translated {
  left: 0;
}
.navigation-wrapper svg.navigation-icon {
  width: 25px;
  height: 25px;
}
.navigation-wrapper .navigation {
  flex-grow: 1;
  padding-top: 20px;
}
.navigation-wrapper .navigation,
.navigation-wrapper .navigation-profile {
  z-index: 3;
  position: relative;
}
.navigation-wrapper svg.navigation-icon {
  fill: none;
  stroke: rgba(255,255,255,0.7);
  flex-basis: 80px;
}
.navigation-wrapper li.navigation-link {
  margin: 15px 0;
}
.navigation-wrapper li.navigation-link h2 {
  flex-grow: 2;
}
.navigation-wrapper li.navigation-link a {
  color: #fff;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.navigation-wrapper li.navigation-link a:hover > svg {
  stroke: #fff;
}
.navigation-wrapper .navigation-profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding-bottom: 20px;
}
.navigation-wrapper .navigation-profile:after {
  content: '';
  position: absolute;
  top: -20px;
  height: 1px;
  background-color: rgba(255,255,255,0.3);
  width: 80%;
  left: 10%;
}
.navigation-wrapper .navigation-profile a {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
  display: inline-block;
}
.navigation-wrapper .navigation-profile p {
  color: rgba(255,255,255,0.5);
  font-size: 13px;
}
.navigation-wrapper .navigation-profile .navigation-profile-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
}
.navigation-wrapper li.big-screen {
  display: none;
}
@media screen and (min-width: 750px) {
  .navigation-wrapper li.big-screen {
    display: block;
  }
  .navigation-wrapper li.big-screen.line-over {
    position: relative;
    margin-top: 50px;
  }
  .navigation-wrapper li.big-screen.line-over:after {
    content: '';
    position: absolute;
    top: -20px;
    height: 1px;
    background-color: rgba(255,255,255,0.3);
    width: 80%;
    left: 10%;
  }
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Montserrat, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
input {
  border: none;
  outline: none;
}
svg {
  fill: none !important;
}
.settings {
  min-height: 100vh;
  background-color: #ec5d2f;
  padding-top: 70px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 950px) {
  .settings {
    position: fixed;
    right: 0;
    top: 60px;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    width: 45vw;
    padding: 0;
  }
}
form {
  position: relative;
  z-index: 3;
  width: 90%;
  margin: 0 auto;
  max-width: 350px;
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 35px;
}
form input {
  color: #fff;
  font-size: 15px;
}
form input[type="submit"] {
  width: 100%;
  height: 55px;
  background: rgba(255,255,255,0);
  border-radius: 50px;
  border: 2px solid rgba(255,255,255,0.2);
  cursor: pointer;
  margin-top: 40px;
}
form input[type="submit"]:hover {
  background: rgba(255,255,255,0.1);
}
form .input-wrapper {
  width: 100%;
  height: 55px;
  margin: 7px 0;
  position: relative;
}
form .input-wrapper svg.icon {
  stroke: rgba(255,255,255,0.5);
  fill: none;
  top: 0;
  left: 15px;
  width: 30px;
  height: 100%;
  position: absolute;
}
form .input-wrapper input {
  padding: 0 20px 0 60px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.1);
  border-radius: 50px;
}
form .input-wrapper ::placeholder {
  color: #fff;
}
.avatar-upload-download {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 30px;
  box-sizing: border-box;
  max-width: 350px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 950px) {
  .avatar-upload-download {
    padding: 30px 0;
    justify-content: center;
  }
}
.avatar-upload-download img,
.avatar-upload-download .up-down-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
@media screen and (min-width: 550px) {
  .avatar-upload-download img,
  .avatar-upload-download .up-down-icon {
    width: 100px;
    height: 100px;
    margin-top: 40px;
  }
}
@media screen and (min-width: 950px) {
  .avatar-upload-download img,
  .avatar-upload-download .up-down-icon {
    width: 120px;
    height: 120px;
  }
}
.avatar-upload-download .up-down-icon {
  background-color: rgba(255,255,255,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.avatar-upload-download .up-down-icon svg {
  width: 30px;
  height: 30px;
}
h2.section-title {
  color: #fff;
  text-align: center;
  padding: 30px 0;
}
@media screen and (min-width: 550px) {
  h2.section-title {
    display: none;
  }
}
.email-notification {
  flex-grow: 1;
  background-color: #fff;
  padding: 20px 15px 40px;
  font-size: 14px;
  position: relative;
  box-sizing: border-box;
}
@media screen and (min-width: 950px) {
  .email-notification {
    background-color: unset;
    color: #fff;
  }
}
.email-notification h4 {
  color: #ec5d2f;
  padding-bottom: 10px;
  max-width: 350px;
  margin: 0 auto;
}
@media screen and (min-width: 950px) {
  .email-notification h4 {
    color: rgba(255,255,255,0.5);
  }
}
.email-notification .email-notification-settings {
  max-width: 350px;
  margin: 0 auto;
}
.email-notification .email-notification-settings li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin: 20px 0;
}
.search {
  display: none;
}
@media screen and (min-width: 550px) {
  .search {
    display: flex;
  }
}
.input-wrapper.profession {
  display: none;
}
@media screen and (min-width: 550px) {
  .input-wrapper.profession {
    display: block;
  }
}
.settings-inner {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media screen and (min-width: 950px) {
  .settings-inner {
    padding-bottom: 60px;
    display: block;
  }
}
.settings-footer {
  display: none;
}
@media screen and (min-width: 550px) {
  .settings-footer {
    display: block;
    text-align: center;
    color: #a3a3a3;
    background: #fff;
    background: linear-gradient(transparent, #fff);
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 45px;
    z-index: 10;
  }
  .settings-footer svg {
    display: none;
    cursor: pointer;
  }
  .settings-footer svg:hover {
    opacity: 1;
  }
}
@media screen and (min-width: 550px) and (min-width: 950px) {
  .settings-footer {
    background: #f96332;
    color: #fff;
    position: fixed;
    width: 45vw;
    height: 60px;
    background: linear-gradient(transparent, #f96332);
  }
  .settings-footer .settings-footer-inner {
    max-width: 450px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 550px) and (min-width: 950px) {
  .settings-footer svg {
    display: block;
    stroke: #fff;
    opacity: 0.8;
    width: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 950px) {
  .page-holder {
    height: 100vh;
    width: 100vw;
    transform: translateX(-45vw);
    background: #d3cce3;
    background: -webkit-linear-gradient(to right, #e9e4f0, #d3cce3);
    background: linear-gradient(to right, #e9e4f0, #d3cce3);
  }
  li.upload {
    transform: translateX(15px);
  }
  li.download {
    transform: translateX(-15px);
  }
  .nav-bar-right .log-out {
    display: none;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.switch input {
  display: none;
}
.swtich-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e5e5e5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
}
@media screen and (min-width: 950px) {
  .swtich-slider {
    background-color: rgba(0,0,0,0.1);
  }
}
.swtich-slider:before {
  position: absolute;
  content: "";
  box-shadow: 2px 8px 15px rgba(0,0,0,0.2);
  height: 25px;
  width: 25px;
  left: 0px;
  bottom: 0px;
  background-color: #b7b7b7;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media screen and (min-width: 950px) {
  .swtich-slider:before {
    background-color: rgba(0,0,0,0.2);
  }
}
input:checked + .swtich-slider:before {
  background-color: #f96332;
  left: 25px;
}
@media screen and (min-width: 950px) {
  input:checked + .swtich-slider:before {
    background-color: #fff;
  }
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.1);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,0.2);
}
.app-wrapper {
  max-width: 100vw;
  overflow: hidden;
}
.wrapper {
  transition: 0.5s linear transform;
}
.wrapper .black-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 100;
  display: none;
}
.wrapper.translated {
  transform: translateX(270px);
}
.wrapper.translated .black-overlay {
  display: block;
}
