@import 'mixins.styl'
@import 'vars.styl'

.overview
  width 100%
  min-height 100vh
  background darkorange
  color white
  padding 60px 25px
  box-sizing border-box
  .overview-header
    margin 50px 0
    text-align center
    p 
      font-size 13px
      color rgba(white , .5)
      margin-top 5px
    
li.chart
	margin 30px 0
	display flex
	flex-direction column
	overflow hidden
	@media screen and (min-width 650px)
		position relative
		width 50%
		display inline-block
		opacity .5
		box-shadow 4px 0 20px 2px #00000045
		cursor pointer
		user-select none
		&.active
			cursor unset
			opacity 1
			z-index 20
			transform scale(1.2)

.chart-bar
	position relative
	background-color rgba(white , .2)
	box-shadow 1px 7px 7px rgba(0, 0, 0, 0.1)
	height 3px
	@media screen and (min-width 650px)
		display none

ul.charts
  font-size 10px
  max-width 400px
  margin 0 auto
		@media screen and (max-width 650px)
			transform translateX(0) !important
		@media screen and (min-width 650px)
			max-width unset 
			margin 0
			white-space nowrap
			transform translateX(-25%)	
				
.chart-bar-inner,
.chart-big-bar-inner
	position absolute
	top 0
	left 0
	height 100%
	background white
	box-shadow 0 2px 13px rgba(0, 0, 0, 0.7)
	transition 2.5s cubic-bezier(0, 0, 0, 1.38) width
	width 0%

.chart-text
	flexCenter(row , space-between)
	margin-bottom 12px
	@media screen and (min-width 650px)
		fullAbsolute()
		flex-direction column
		z-index 10

.chart-background
	position relative
	display none
	@media screen and (min-width 650px)
		position relative
		display block
		&:before
			content ''
			fullAbsolute()
			background-image linear-gradient(rgba(0, 0, 0, 0.08),rgba(0, 0, 0, .5))
		img 
			width 100%
			height calc(35vw + 80px)
			max-height 400px
			vertical-align -webkit-baseline-middle
			object-fit cover


.bigger-then-mobile
	display none

.big-statistics
	display none

@media screen and (min-width 650px)
	.big-statistics
		display flex
		flex-direction column
		.top
			padding 55px 0 70px
		.bottom
			flexCenter()
			.articles
				margin-right 100px
			div
				flexCenter(column)
				h2
					font-size 40px
				p
					font-size 15px
					opacity .5
		.big-bar
			display block
			width 200px
			margin 0 auto
		svg 
			display none
	.mobile
		display none
	h3.type
		flex-grow 1
		flexCenter()
		font-size 30px
	h3.percent
		font-size 125px
		position relative
		line-height 89px
		opacity .4
		span 
			font-size 25px
			position absolute
			top -30px
			right -20px
	.bigger-then-mobile
		display flex
		flex-direction column
		ul.filter-charts
			margin 30px 0
			font-size 13px
			flexCenter()
			li.active
				border 1px solid white
				opacity 1
				border-radius 50px
				padding 10px 30px
			li
				margin 0 20px
				opacity .5
				cursor pointer
				transition .1s linear opacity
				&:hover
					opacity 1


@media screen and (min-width 850px)
	.big-statistics 
		svg 
			display inline-block
			fill none 
			stroke white
			opacity .8
			width 25px
			cursor pointer
			height 25px
			&:hover
				transform scale(1.2)
				opacity 1
		.top
			padding 50px 50px 70px
			display flex 
			align-items center