@import 'mixins.styl'
@import 'vars.styl'

.story-header
  width 100%
  height 50vh
  min-height 300px
  max-height 500px
  backgroundImage('images/img3.png')
  background-size cover
  color white
  position relative
  padding 20px 15px
  box-sizing border-box
  display flex
  align-items flex-end
  @media screen and (min-width 500px)
    padding 30px 20px
  @media screen and (min-width 700px)
    min-height 500px
    max-height 600px
  @media screen and (min-width 950px)
    min-height 600px
    max-height 800px
    padding 45px 15px
  .story-header-overlay
    position absolute
    bottom 0
    left 0
    width 100%
    height 30%
    background linear-gradient(#ff000000,#0000006b)
  h2 
    position relative
    z-index 2
    font-size 18px
    @media screen and (min-width 500px)
      font-size 25px
    @media screen and (min-width 700px)
      font-size 35px
      max-width 700px
    @media screen and (min-width 700px)
      max-width initial

.story-text-content
  padding 0 15px
  @media screen and (min-width 550px)
    max-width 500px
    margin 20px auto 0
  @media screen and (min-width 700px)
    max-width 900px
  @media screen and (min-width 950px)
    flex-basis 50%
    margin 0
    padding 0 40px 0 15px
  p 
    font-size 15px
    line-height 25px
    @media screen and (min-width 500px)
      font-size 17px
      line-height 25px
    @media screen and (min-width: 700px)
      font-size 18px
      line-height 31px

.story-quote
  position relative
  color orange
  @media screen and (min-width 550px)
    max-width 500px
    margin 20px auto 0
  @media screen and (min-width 700px)
    max-width initial 
    width 700px
    margin 50px auto 100px
    box-sizing border-box
    border-left none
    position relative
    height 550px
    padding 0 20px
  @media screen and (min-width 950px)
    margin 0
    padding 0 15px 0 40px
    flex-basis 50%
  p.quote 
    line-height 25px
    font-size 15px
    margin-bottom 20px
    @media screen and (min-width 500px)
      font-size 17px
      line-height 25px
    @media screen and (min-width 700px)
      font-size 16px
      line-height 30px
  h2 
    font-size 15px
    @media screen and (min-width 500px)
      font-size 15px
    @media screen and (min-width 950px)
      font-size 20px
      margin-top 10px
  .photos
    display inline-block
    width 100%
    height 250px
    position relative
    padding 0 10px
    box-sizing border-box
    margin 30px 0 50px
    @media screen and (min-width 500px)
      height 300px
      margin 40px 0 60px
    @media screen and (min-width 700px)
      width 100%
      height 100%
      margin 0
    img 
      box-shadow 0 0 50px rgba(#000,.2)
      width 65%
      height 70%
      position absolute

      &:nth-child(1)
        object-fit cover
        top 0
        right 10px
        z-index 2
        @media screen and (min-width 700px)
          width 55%
          left 0
          top 0
          height 55%
      &:nth-child(2)
        left 10px
        bottom 0
        object-fit cover
        @media screen and (min-width 700px)
          z-index 10
          width 80%
          height 57%
          right 14%
          bottom -5%
          left unset

.quote-text-wrapp
  border-left 1px solid orange
  margin 0 15px
  padding 0 20px
  @media screen and (min-width 700px)
      position absolute
      top 25px
      z-index 10
      right 15px
      width 350px
      border 2px solid orange 
      padding 0px 27px 42px 81px
      box-sizing border-box
      height 300px
      display flex
      justify-content center
      flex-direction column
      @media screen and (min-width 950px)
        width initial
        padding 60px 50px
        text-align justify
        height initial

ul.publish-infos
  padding 15px 15px 30px
  box-sizing border-box
  display flex
  align-items center
  font-size 12px
  @media screen and (min-width 950px)
    padding 35px 15px 40px
    font-size 12px !important
  svg 
    fill none
    stroke black
    width 20px
    height 20px
  @media screen and (min-width 600px)
    font-size 10px
  li.source,
  li.time
    margin-right 10px
    flexCenter()
  li.category
    flex-grow 1
    text-align right
    a
      position relative
      &:after
        content ''
        width 100%
        height 1px
        position absolute
        background currentColor
        opacity .5
        left 0
        bottom -5px

ul.story-header-buttons
  display none
  @media screen and (min-width 950px)
    z-index 10
    position relative
    width 180px
    display flex
    align-items flex-end
    padding-left 50px
    justify-content space-between
    a
      width 40px
      height 40px
      background-color orange 
      flexCenter()
      border-radius 50%
      svg 
        width 20px
        height 20px
        stroke #ffffff
        fill none


@media screen and (min-width 950px)
  .story-header-content
    display flex


// NAVIGATION STUFF

.navigation-wrapper,
.burger-wrapper,
.logo,
.nav-bar-right
  display none

.nav-bar-right
  @media screen and (min-width 700px)
      flexCenter()
      li
        flexCenter()
        margin-left 15px
        @media screen and (min-width 950px)
          margin-left 25px
        a
          flexCenter()


ul.nav-bar-right li.nav-bookmark
  display none
  @media screen and (min-width 950px)
    display flex

@media screen and (min-width 700px)
  .logo
    display inline-block
    position absolute
    width 30px
    height 30px
    left calc(50% - 15px)

@media screen and (min-width 950px)
  .burger-wrapper,
  .navigation-wrapper
    display flex

ul.story-nav-controlls
  width 100%
  flexCenter(row , space-between)
  @media screen and (min-width 700px)
    width 180px
    .aa
      display none
  a
    flexCenter()
    width 35px
    height 35px
    svg 
      width 30px
      height 30px
  @media screen and (min-width 950px)
    display none

.nav-bar-wrapper 
  padding 20px 10px 15px !important
  @media screen and (min-width 950px)
    padding 22px 20px 12px !important



/* STORY FULL  ADDITION*/
h2.subhead
  font-size 15px
  line-height 25px
  margin 45px 0 25px
  padding 0 15px
  @media screen and (min-width 550px) and (max-width 700px)
    max-width 500px
    margin 60px auto 30px
    font-size 20px
    line-height 30px
  @media screen and (min-width 700px)
    max-width 800px
    font-size 25px
    line-height 30px
    margin 68px auto 50px
    padding 0 15px

p.paragraph
  font-size 15px
  line-height 25px
  padding 0 15px
  margin-bottom 30px
  @media screen and (min-width 550px) and (max-width 700px)
    max-width 500px
    margin 30px auto
    text-align justify
  @media screen and (min-width 700px)
    max-width 800px
    font-size 16px
    line-height 27px
    margin 40px auto

.video-holder 
  width 100%
  height 300px
  margin 50px 0
  @media screen and (min-width 600px)
    height 400px
  @media screen and (min-width 700px)
    height 450px
  @media screen and (min-width 850px)
    height 500px
  .video 
    width 100%
    height 100%
    position relative
    img 
      object-fit cover
      width 100%
      height 100%
    .play-button 
      position absolute
      width 100%
      height 100%
      top 0
      left 0
      flexCenter()
      svg 
        fill white
        width 20px
        height 20px
        padding 20px
        background orange
        border-radius 50%
        cursor pointer

/* STORY FULL  GALLERY*/    
.story-gallery-wrapper ul.story-gallery
  white-space nowrap
  align-items center
  justify-content center
  transform translateX(-57%)
  padding 50px 0
  @media screen and (min-width 600px)
    padding 65px 0
  li.gallery-slide 
    display inline-block
    width 70%
    height 200px
    margin 0 -2px
    @media screen and (min-width 600px)
      height 250px
    @media screen and (min-width 700px)
      height 300px
    @media screen and (min-width 850px)
      height 350px
    &.active
      transform scale(1.2)
  img 
    width 100%
    height 100%
    object-fit cover
    box-shadow 0 0 30px rgba(#000 , .3)

.gallery-image-about
  text-align center
  font-size 13px
  a.image-photographer 
    color rgba(0,0,0,.5)
    margin 10px 0 50px
    display inline-block
    font-size 14px

ul.pagination 
  display flex
  width 100%
  justify-content center
  li.buble 
    width 13px
    height 13px
    background-color rgba(0,0,0,.1)
    border-radius 50%
    margin 0 5px
    cursor pointer
    &.active
      background-color orange

.next-story 
  margin-top 70px
  background-color rgba(0,0,0,.1)
  display flex
  flex-direction column
  justify-content center
  align-items center
  @media screen and (min-width 700px)
    flex-direction row
    padding 40px 0
    margin-top 100px
    h1 
      display none
  @media screen and (min-width 900px)
    display none
  h4
    color rgba(#000 , .3)
    padding 70px 0 50px
    @media screen and (min-width 700px)
      padding 0 20px
  h1 
    font-size 20px
    padding 0 20px
    text-align center
    line-height 30px
  svg.next 
    fill none
    stroke #f96332
    width 20px
    height 40px
    cursor pointer
    margin 60px 0
    @media screen and (min-width 700px)
      margin 0

.comments-wrapper
  display none
  @media screen and (min-width 900px)
    display block
    margin-top 100px