@import 'stylus/*'

svg 
  background rgba(black , .3) !important

.app-wrapper
  max-width 100vw
  overflow hidden

.wrapper
  transition navigationTransition linear transform
  padding-top 62px
  .black-overlay 
      fullAbsolute()
      background rgba(0 , 0 , 0 , .3)
      z-index 100
      display none
    &.translated
      transform translateX(270px)
      .black-overlay
        display block

.max
  max-width 1000px
  margin 0 auto