@import 'vars.styl'
@import 'mixins.styl'

mobileLiWidth = 80px
mobileActiveLiWidth = 130px

.mobile-walk-through
  width 100%
  min-height 100vh
  background-color orange
  position fixed
  top 0
  left 0
  flexCenter()
  z-index 400
  transition .3s linear all
  &.hidden
    opacity 0
  @media screen and (min-width 600px)
    display none

.done-button
  color white
  position absolute
  bottom 30px
  display none
  animation fade .4s linear forwards
  p 
    border-radius 50px
    border 1px solid white
    padding 5px 50px
    cursor pointer

.mobile-walk-through-wrapper
  height 100vh
  width 100%
  color white
  text-align center
  display flex
  box-sizing border-box
  justify-content space-between
  flex-direction column
  padding-bottom 100px
  p.steps-count
    font-weight bold
    flexCenter()
    flex-grow 2
  .steps-info-wrapper
    max-width 300px
    overflow hidden
    margin 0 auto
    display flex
  h2
    font-size 15px
    max-width 200px
    margin 0 auto
    flex-grow 2
    user-select none
    padding-bottom 25px
    box-sizing border-box
  ul 
    white-space nowrap
    padding-left mobileLiWidth + 5px
    display flex
    align-items center
    height 300px
    transition .4s cubic-bezier(0.24, 0.4, 0.49, 0.8) transform
  li
    display inline-block
    white-space normal
    width mobileLiWidth
    font-size 10px
    margin 0 5px
    opacity .5
    svg 
      width 80px
      transition .4s cubic-bezier(0.24, 0.4, 0.49, 0.8) width
    &.active
      margin 0
      opacity 1
      width mobileActiveLiWidth
      svg 
        width mobileActiveLiWidth
  svg 
    background transparent
    border-radius 0
    width 100px

.progress-indicator-wrapper
  flex-grow 1
  .progress-indicator
    width 200px
    height 2px
    background-color rgba(white , .5)
    margin 0 auto
    .progress-indicator-inner
      width 0
      height 100%
      background-color white
      transition .2s cubic-bezier(0, 0, 0.19, 0.91) all


/* tootlip */
.tooltip
  display none
  @media screen and (min-width 600px)
    width 200px
    background orange 
    color white
    position absolute
    flexCenter(column)
    font-size 15px
    text-align center
    padding 30px
    display none
    &.active
      display flex
    &.first
      .controlls
        justify-content flex-end
    .controlls
      display flex
      justify-content space-between
      width 90%
    .tip
      margin 20px 0
    a
      color rgba(white , .5)
      transition .2s linear all
      &:hover
        color white
    .tooltip-icon
      width 90px
      height 90px
      background white
      border-radius 50%
      flexCenter()
      box-shadow 0 0 50px rgba(0,0,0,.2)
      svg
        fill none 
        stroke orange 
        width 35px
        height 35px
    .double-circle
      position absolute
      span.circle
        border-radius 50%
        background rgba(white , .3)
        position absolute
        &:nth-child(1)
          width 120px
          height 120px
        &:nth-child(2)
          width 75px
          height 75px

.tooltip 
  .double-circle span.circle
    transform scale(0)
  &.active
    .double-circle span.circle
      animation pop .2s cubic-bezier(0, 0, 0.18, .49) forwards
      &:nth-child(2)
        animation-delay: .2s

@keyframes pop 
  to
    transform scale(1)

.burger-wrapper .tooltip
  top 75px
  left 15px
  .double-circle
    top -94px;
    left -33px;
    span.circle:nth-child(1)
      top -7px
      left -11px
    span.circle:nth-child(2)
      left 12px
      top 20px

.nav-avatar .tooltip
  top: 76px;
  right: 18px;
  .double-circle
    top -92px;
    right 62px;    
    span.circle:nth-child(1)
      top -7px
      left -11px
    span.circle:nth-child(2)
      left 12px
      top 15px

li.article:nth-child(2) .tooltip
  right 15px
  top 10px
  .double-circle
    position absolute
    top 61px
    right 65px
    span.circle:nth-child(2)
      top 24px
      right -99px

@keyframes fade
  from 
    opacity 0
  to
    opacity 1