flexCenter(direction=row , justifyContent = center)
  display flex
  align-items center
  justify-content justifyContent
  flex-direction direction

afterLine()
  content ''
  position absolute
  top -20px
  height 1px
  background-color rgba(#fff , .3)
  width 80%
  left 10%

fullAbsolute()
  position absolute
  top 0
  left 0
  width 100%
  height 100%

backgroundImage(imageUrl , backgroundPosition = center)
  background-image url(imageUrl)
  background-size cover
  background-position backgroundPosition

arrow(to , width , arrowColor , toLeft = false)
  content ''
  border-{to} width solid arrowColor
  border-bottom width solid transparent
  border-top width solid transparent 
  position absolute
  if toLeft
    left  -15px
  else 
    right -15px
  top calc(50% - 7.5px)

