@import 'mixins.styl'
@import 'vars.styl'

.timeline
  width 100%
  min-height 100vh
  padding-top 60px
  position relative
  @media screen and (min-width: 600px)
    max-width 800px
    margin 0 auto
    &:after
      content ''
      position absolute
      top 0
      left 27px
      width 1px
      height 100%
      background rgba(black , .2)
      @media screen and (min-width: 950px)
        display none
  @media screen and (min-width: 950px)
    max-width 1100px
    margin 0 auto
  .timeline-article-image
    display none
    @media screen and (min-width: 600px)
      display block
      flex-basis 50%
      height 200px
      box-sizing border-box
      padding-left 80px
      img 
        width 100%
        height 100%
        object-fit cover
        box-shadow 5px 6px 45px 7px rgba(0, 0, 0, 0.2)
  .event-icon 
    svg 
      width 25px
      height 25px
      stroke rgba(black,.4)
      background white
      padding 5px 0
      z-index 2
      position relative
  .day-head
    background-color darkorange 
    color white
    text-align center
    padding 25px 0
    z-index 5
    position relative
    @media screen and (min-width: 600px)
      background-color unset
      color orange
      max-width 800px
      padding-left 60px
      text-align left
    @media screen and (min-width: 950px)
      padding 35px 0 0 0 
      flex-basis 250px
    h2.day-title
      font-size 25px
      padding 5px 0
      @media screen and (min-width: 600px)
        font-size 40px
        padding 0
    p
      opacity .5
      font-size 13px
      @media screen and (min-width: 600px)
        font-weight bold
  ul.events 
    position relative
    padding-bottom 30px
    max-width 400px
    margin 0 auto
    @media screen and (min-width 600px)
      max-width 800px
    @media screen and (min-width 950px)
      padding 50px 0 0 0 
    &:after
      content ''
      position absolute
      top 0
      left 27px
      width 1px
      height 100%
      background rgba(black , .2)
  li.event 
    display flex
    padding 20px 15px
  .about-event
    margin-left 20px
    flex-grow 1
    @media screen and (min-width 600px)
      flex-grow unset 
      flex-basis 50%
  .event-title-time
    flexCenter(row,space-between)
    margin 8px 0 15px
    @media screen and (min-width 600px)
      justify-content unset 
    h3 
      color orange
      font-size 14px
      @media screen and (min-width 600px)
        margin-right 20px
    p
      font-size 12px
      @media screen and (min-width 600px)
        font-weight bold
        opacity .5
  .article-title h4
    font-size 14px
    line-height 23px
    margin-bottom 5px
    @media screen and (min-width 600px)
      font-size 20px
      line-height 27px
      margin-bottom 15px
  .article-comment
    font-size 12px
    line-height 19px
    opacity .5


@media screen and (min-width 950px)
  .day
    display flex
    padding 0 20px